# Ignore the plug.vim plugin
autoload/plug.vim
# Ignore the directory of the plugins downloaded by plug.vim
plugged/*
# Ignore spell directory
spell/*

.netrwhist

# Ignore the undo-directory content
.undo/*
# But the directory itself and a placeholder
!.undo/.git_keep

# Ignore the swap-directory content
.swap/*
# But the directory itself and a placeholder
!.swap/.git_keep

# Ignore the backup-directory content
.backup/*
# But the directory itself and a placeholder
!.backup/.git_keep
